{% load static %}


<style>
    nav {
        height: 70px;
        background-color: rgb(252, 247, 247);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }
    
    .hello-msg {
        font-size: 20px;
        color: rgb(27, 25, 25);
        margin-right: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <img src="https://scontent.fdkr5-1.fna.fbcdn.net/v/t1.6435-9/134256035_106003731426515_4663115482620995281_n.jpg?_nc_cat=106&ccb=1-4&_nc_sid=973b4a&_nc_ohc=dmFSQ_HVjPUAX-pnF2Z&_nc_ht=scontent.fdkr5-1.fna&oh=c24e29af32542e9d4038237b444fd26c&oe=6138D169"
        alt="..." height="50px" width="60px" tyle="border-radius: 20px; margin-right: 20px; ">
    <!-- <a href="{% url 'home' %} " class="btn btn-primary btn-lg active " role="button " aria-pressed="true ">Home</a> -->
    <a href="{% url 'home' %} " style="margin-left: 20px;"><button type="button " class="btn btn-outline-primary ">Home</button></a>

    <div class="collapse navbar-collapse " id="navbarNav ">
        <ul class="navbar-nav ">
            {% if request.user.is_staff %} {% endif %}
        </ul>
    </div>
    <div> <i class="fa fa-user" aria-hidden="true"></i><span class="hello-msg ">{{request.user}}</span>
    </div>
    <span><a  class="hello-msg " href="{% url 'logout' %} "><i class="fa fa-sign-out " style="font-size:36px; "></i></a></span>
</nav>