{% extends 'accounts/main.html' %} {% block content %}
<div style="margin-top: 20px; width: 90%; margin-left: 5%; margin-right: 9%;">
    <h5 class="section-title h1" style="text-align: center;">&nbsp;</h5>
    <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://img.maxisciences.com/s3/frgsd/1024/nature/default_2020-08-20_abd43ae1-7109-450d-b459-3dff8b5c500a.jpeg" alt="card image"></p>
                                <h4 class="card-title">Catastrophe naturelle </h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Catastrophe naturelle</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://s.rfi.fr/media/display/891de986-0d54-11ea-ac34-005056a9aa4d/w:1280/p:16x9/000_te6mz_0.webp" alt="card image"></p>
                                <h4 class="card-title">Catastrophe sécuritaire</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Catastrophe sécuritaire</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p>
                                    <img class=" img-fluid" src="https://www.moneyvox.fr/i/media/05i/005690i902.jpg" alt="card image "></p>
                                <h4 class="card-title ">Catastrophe sanitaire </h4>
                                <p class="card-text ">This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                    <div class="backside ">
                        <div class="card ">
                            <div class="card-body text-center mt-4 ">
                                <h4 class="card-title ">Catastrophe sanitaire</h4>
                                <p class="card-text ">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Team -->
<!-- -------------------------------------------------------on ne touche pas -->

<div style="background-color: white; width: 48%; margin-left: 20%;margin-right: 20%; padding: 10px; border-radius: 20px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);">
    <div class="d-flex align-items-center pt-3 ">
        <div class="ml-auto mr-sm-5 "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Catégorie</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-outline-warning" type="submit " name="save " value="save " id="toggle"> Start simulation</button>
        </div>
    </div>
    <div class="container mt-sm-5 my-1" id="third">
        <hr>
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <form method="POST" action="{% url 'vitess_p' %} ">
                {% csrf_token %}
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3">
                    {% for i in categorie %}
                    <label class="options ">{{ i.cathegorie_name}}<input type="radio" name="categorie" value="{{i}}"> <span class="checkmark "></span> </label><br><br>{% endfor %}
                </div>
                <hr>
                <div class="d-flex align-items-center pt-3 ">
                    <div class="ml-auto mr-sm-5 ">
                        <button class="btn btn-success" type="submit " name="save " value="save">Suivant</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-center pt-3 ">
            <a href="{% url 'home' %}">
                <div id="prev" style="padding: 15x;"> <button class="btn btn-primary">Précédent</button> </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}