{% extends 'accounts/main.html' %} {% block content %}

<div style="margin-top: 20px; width: 90%; margin-left: 5%; margin-right: 9%;">
    <h5 class="section-title h1" style="text-align: center;">&nbsp;</h5>
    <div class="row" style="margin-left: 200px;">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://static.lexpress.fr/medias_12332/w_1004,h_753,c_crop,x_207,y_81/w_640,h_358,c_fill,g_center/v1625828456/hausse-du-nombre-de-cas-de-covid-19-dans-le-monde_6314376.jpeg" alt="card image"></p>
                                <h4 class="card-title">Niveau de controle </h4>
                                <h5 class="card-title">Sous contrôle </h5>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Niveau de contrôle: sous contrôle</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://static.lexpress.fr/medias_12332/w_1004,h_753,c_crop,x_207,y_81/w_640,h_358,c_fill,g_center/v1625828456/hausse-du-nombre-de-cas-de-covid-19-dans-le-monde_6314376.jpeg" alt="card image"></p>
                                <h4 class="card-title">Niveau de controle </h4>
                                <h5 class="card-title">Hors contrôle </h5>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>

                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Niveau de contrôle: hors contrôle</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team -->
<!-- -------------------------------------------------------on ne touche pas -->

<div style="background-color: white; width: 48%; margin-left: 20%;margin-right: 20%; padding: 10px; border-radius: 20px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);">
    <div class="d-flex align-items-center pt-3 ">
        <div class="ml-auto mr-sm-5 "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Niveau de contrôle</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-outline-warning" type="submit " name="save " value="save " id="toggle"> Continue simulation</button>
        </div>
    </div>
    <div class="container mt-sm-5 my-1" id="third">
        <hr>
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <form method="POST" action="{% url 'niveauPerte' %} ">
                {% csrf_token %}
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3">
                    {% for i in niveauControle %} <label class="options">{{ i }} <input type="radio" name="niveauControle" value = "{{ i }}"><span class="checkmark"></span></label><br><br>{% endfor %}
                </div>
                <hr>
                <div class="d-flex align-items-center pt-3 ">
                    <div class="ml-auto mr-sm-5 ">
                        <button class="btn btn-success" type="submit " name="save " value="save">Suivant</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-center pt-3 ">
            <a href="{% url 'profondeur' %}">
                <div id="prev" style="padding: 15x;"> <button class="btn btn-primary">Précédent</button> </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}