{% extends 'accounts/main.html' %} {% block content %}
<section id="info">
    <div class="row">
        <div class="card">
            <h2 style="color: black;">Alerte</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
            <a href="{% url 'cate' %}" class="btn btn-info" style="color: black;"> Alerte: Faire une simulation</a>
        </div>
        <div class="card">
            <h2 style="color: black;">Attaque</h2>
            <p> book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl.
            </p>
            <a href="{% url 'Natureinformation' %}" class="btn btn-info" style="color: black;"> Attaque: Faire une simulation</a>
        </div>

    </div>
</section>
<style>
    @import url("https://fonts.googleapis.com/css?family=Marvel:400,700");
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Marvel", sans-serif;
        background-color: rgb(224, 224, 222);
        background-image: url('static/bsmart.jpg');
    }
    
    #info {
        padding: 2rem 0;
    }
    
    .row {
        width: 100%;
        max-width: 50rem;
        height: rem;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: white;
    }
    
    .card {
        display: inline-block;
        width: 45%;
        padding: 4rem 1rem 7rem 1rem;
        background-color: rgb(230, 185, 197);
        position: relative;
        border: 0px !important;
    }
    
    .card:after {
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        background-color: skyblue;
        top: 0px;
        right: 0px;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        border-right: 20px solid rgb(218, 169, 197);
        border-top: 20px solid rgb(218, 169, 197);
        ;
        position: absolute;
        -webkit-filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
    }
    
    .card:before {
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border-top: 40px solid white;
        border-right: 40px solid white;
        border-left: 40px solid rgb(218, 169, 197);
        ;
        border-bottom: 40px solid rgb(218, 169, 197);
        ;
        bottom: 0px;
        left: 0px;
        position: absolute;
        -webkit-filter: drop-shadow(7px -7px 5px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(7px -7px 5px rgba(0, 0, 0, 0.5));
        margin-right: 10%;
    }
    
    .card:nth-of-type(1) {
        margin-right: 9%;
    }
    
    .card h2 {
        color: snow;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .card p {
        /* color: snow; */
        color: rgb(27, 25, 25);
        font-size: 1.1rem;
        line-height: 140%;
    }
    
    .ftr {
        text-align: center;
    }
</style>
{% endblock content %}